[submodule "assets/lib"]
	path = assets/lib
	url = https://github.com/cotes2020/chirpy-static-assets.git

[submodule "assets/one-math-game"]
	path = assets/one-math-game
	url = https://github.com/bruceho293/one-math-game.git
  branch = main
[submodule "assets/numbrace-web"]
	path = assets/numbrace-web
	url = https://github.com/bruceho293/numbrace-web.git
